<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>建议描述</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="keywords" content="fly,layui,前端社区">
		<meta name="description" content="Fly社区是模块化前端UI框架Layui的官网社区，致力于为web开发提供强劲动力">
		<link rel="stylesheet" href="/css/layui.css">
		<link rel="stylesheet" href="/css/global.css">
		
	</head>

	<body>

		<div class="fly-header layui-bg-black">
			<div class="layui-row layui-col-space10">
				<div class="layui-col-md4 layui-col-md-offset5" style="height: 50px;font-size: 26px; line-height: 50px;">
					医疗体检管理系统
				</div>
			</div>
		</div>
		</div>
		<div class="layui-container layui-row" style="margin-top: 1%;">
			<div class="layui-col-md9">
				欢迎您，尊敬的系统管理员：<label class="username">admin</label>
			</div>
			<div class="layui-col-md3">
				<label id="nowdate"></label>
			</div>
		</div>
		<div class="layui-container fly-marginTop fly-user-main">
			<ul class="layui-nav layui-nav-tree layui-inline" lay-filter="demo" style="margin-right: 10px;">
				<li class="layui-nav-item layui-nav-itemed">
					<a href="javascript:;">体检科室</a>
					<dl class="layui-nav-child">
						<dd>
							<a href="javascript:;">妇科</a>
						</dd>
						<dd>
							<a href="javascript:;">外科</a>
						</dd>
						<dd>
							<a href="javascript:;">内科</a>
						</dd>
					</dl>
				</li>
			</ul>

			<div class="site-tree-mobile layui-hide">
				<i class="layui-icon">&#xe602;</i>
			</div>
			<div class="site-mobile-shade"></div>

			<div class="site-tree-mobile layui-hide">
				<i class="layui-icon">&#xe602;</i>
			</div>
			<div class="site-mobile-shade"></div>

			<div class="fly-panel fly-panel-user" pad20>
				<!--
    <div class="fly-msg" style="margin-top: 15px;">
      您的邮箱尚未验证，这比较影响您的帐号安全，<a href="activate.html">立即去激活？</a>
    </div>
    -->
				<div class="layui-container">
					<div class="layui-row">
						<div class="layui-col-md9" style="text-align: center;">
							<div class="grid-demo grid-demo-bg2" style="background: white;">
								<h1>建议描述维护</h1>
							</div>
						</div>
					</div>
				</div>
				<br/>
				<table class="layui-table">
					<colgroup>
						<col width="150">
						<col width="200">
						<col>
					</colgroup>
					<thead>
						<tr>
							<th style="text-align: center;">编号</th>
							<th style="width:360px ;text-align: center;">主要诊断</th>
							<th style="text-align: center;">拼音简码</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>贤心</td>
							<td>2016-11-29</td>
							<td>人生就像是一场修行</td>
						</tr>
						<tr>
							<td>许闲心</td>
							<td>2016-11-28</td>
							<td>于千万人之中遇见你所遇见的人，于千万年之中，时间的无涯的荒野里…</td>
						</tr>
					</tbody>
				</table>
				<br />
				<form class="layui-form" style="margin-left:40px;">

					<div class="layui-inline" style="width: 170px;">
						<button class="layui-btn" style="width: 140px;">保存</button>
					</div>
					<div class="layui-inline" style="width: 170px;">
						<button class="layui-btn" style="width: 140px;">删除</button>
					</div>
					<div class="layui-inline" style="width: 170px;">
						<button class="layui-btn" style="width: 140px;">取消</button>
					</div>
					<div class="layui-inline" style="width: 170px;">
						<button class="layui-btn" style="width: 140px;">打印</button>
					</div>
					<div class="layui-inline">
						<button class="layui-btn" style="width: 140px;">退出</button>
					</div>
				</form>
				<br />
				<div class="layui-row">
					<div class="layui-col-md6">
						<div style="text-align: center;"><h3>科普说明</h3></div>
						<textarea style="height: 200px; overflow: auto;" name="kp" class="layui-textarea"></textarea>
					</div>
					<div class="layui-col-md6">
						<div style="text-align: center;"><h3>建议说明</h3></div>
						<textarea style="height: 200px; overflow: auto;" name="jy" class="layui-textarea"></textarea>
					</div>
				</div>

			</div>
		</div>

		<div class="fly-footer">
			<p>
				<a href="http://fly.layui.com/" target="_blank">医疗体检系统</a> 2018 &copy;
				<a href="http://www.layui.com/" target="_blank">多元合创 出品</a>
			</p>
			<p>

				<a href="http://fly.layui.com/jie/2461/" target="_blank">微信公众号</a>
			</p>
		</div>

		<script src="/layui.js"></script>
		<script src="/js/nowdate.js"></script>
		<script>
			layui.use('element', function() {
				var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块

				//监听导航点击
				element.on('nav(demo)', function(elem) {
					//console.log(elem)
					//layer.msg(elem.text());
				});
			});

			layui.use('form', function() {
				var form = layui.form,
					layer = layui.layer
			})
		</script>

	</body>

</html>