<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>查询体检人员</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="keywords" content="">
		<meta name="description" content="医疗管理系统，为您提供更优质的服务">
		<link rel="stylesheet" href="/css/layui.css">
		<link rel="stylesheet" href="/css/global.css">
	</head>

	<body>
		<div class="fly-header layui-bg-black">
			<div class="layui-row layui-col-space10">
				<div class="layui-col-md4 layui-col-md-offset5" style="height: 50px;font-size: 26px; line-height: 50px;">
					医疗体检管理系统
				</div>
			</div>
		</div>
		<div class="layui-container layui-row" style="margin-top: 1%;">
			<div class="layui-col-md9">
				欢迎您，尊敬的系统管理员：<label class="username">admin</label>
			</div>
			<div class="layui-col-md3">
				<label id="nowdate"></label>
			</div>
		</div>
		<div class="layui-container fly-marginTop fly-user-main">
			<ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user">
				<!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->
				<li class="layui-nav-item ">
					<a href="javascript:;">体检科室</a>
					<dl class="layui-nav-child">
						<dd>
							<a href="javascript:;">科室1</a>
							<dl class="layui-nav-child">
								<dd>
									<a href="javascript:;">体检项1</a>
								</dd>
							</dl>
						</dd>
						<dd>
							<a href="javascript:;">科室1</a>
							<dl class="layui-nav-child">
								<dd>
									<a href="javascript:;">体检项1</a>
								</dd>
							</dl>
						</dd>
						
					</dl>
				</li>
				
			</ul>

			<div class="site-tree-mobile layui-hide">
				<i class="layui-icon">&#xe602;</i>
			</div>
			<div class="site-mobile-shade"></div>

			<div class="site-tree-mobile layui-hide">
				<i class="layui-icon">&#xe602;</i>
			</div>
			<div class="site-mobile-shade"></div>

			<div class="fly-panel fly-panel-user" pad20>
				<div class="layui-col-md-offset4" style="margin-top: 2%;">
					<h2>常见结果维护</h2>
				</div>
				<div>
					<table class="layui-hide" id="test"></table>
				</div>
				<div style="text-align: center; margin-top: 10%;">
					<button style="width: 200px; height: 50px;" class="layui-btn layui-btn-sm">保存</button>
					<button style="width: 200px; height: 50px;" class="layui-btn layui-btn-sm">提交</button>
					<button style="width: 200px; height: 50px;" class="layui-btn layui-btn-sm">取消</button>
					<button style="width: 200px; height: 50px;" class="layui-btn layui-btn-sm">退出</button>
				</div>
			</div>

		</div>

		</div>

		<div class="fly-footer">
			<p>
				<a href="http://fly.layui.com/" target="_blank">医疗体检系统</a> 2018 &copy;
				<a href="http://www.layui.com/" target="_blank">多元合创 出品</a>
			</p>
			<p>
				<a href="http://fly.layui.com/jie/2461/" target="_blank">微信公众号</a>
			</p>
		</div>
		<script src="/layui.js"></script>
		<script src="/js/commonresults.js"></script>
		<script src="/js/nowdate.js"></script>
		<script type="text/html" id="sfyx">
			{{# if(d.yx==1){ }}
			<input type="checkbox" name="sex" value="{{d.id}}" lay-skin="switch" lay-text="是|否" lay-filter="sexDemo" checked=""> {{# } }} {{# if(d.yx==0){ }}
			<input type="checkbox" name="sex" value="{{d.id}}" lay-skin="switch" lay-text="是|否" lay-filter="sexDemo"> {{# } }}
		</script>
		<script type="text/html" id="sfxj">
			{{# if(d.xj==1){ }}
			<input type="checkbox" name="sex" value="{{d.id}}" lay-skin="switch" lay-text="是|否" lay-filter="sexDemo" checked=""> {{# } }} {{# if(d.xj==0){ }}
			<input type="checkbox" name="sex" value="{{d.id}}" lay-skin="switch" lay-text="是|否" lay-filter="sexDemo"> {{# } }}
		</script>
		<script type="text/html" id="xsxmm">
			{{# if(d.xmm==1){ }}
			<input type="checkbox" name="sex" value="{{d.id}}" lay-skin="switch" lay-text="是|否" lay-filter="sexDemo" checked=""> {{# } }} {{# if(d.xmm==0){ }}
			<input type="checkbox" name="sex" value="{{d.id}}" lay-skin="switch" lay-text="是|否" lay-filter="sexDemo"> {{# } }}
		</script>

		<script>
			layui.use('table', function() {
				var table = layui.table,
					form = layui.form;

				table.render({
					elem: '#test',
					height:300
					,url: '/医疗体检管理系统页面/js/uses.json',
					cellMinWidth: 80,
					cols: [
						[{
							field: 'id',
							title: 'ID',
							width: 100,
							unresize: true,
							sort: true
						}, {
							field: 'username',
							title: '结果'
						}, {
							field: 'wealth',
							title: '拼音简码',
							minWidth: 120
						}, {
							field: 'yx',
							title: '是否阳性',
							width: 120,
							templet: '#sfyx',
							unresize: true
						}, {
							field: 'xj',
							title: '是否小结',
							width: 120,
							templet: '#sfxj',
							unresize: true
						}, {
							field: 'xmm',
							title: '显示项目名',
							width: 120,
							templet: '#xsxmm',
							unresize: true
						}]
					]
				});
				//监听性别操作
				form.on('switch(sexDemo)', function(obj) {
					//layer.tips(this.value + ' ' + this.name + '：' + obj.elem.checked, obj.othis);
				});

				//监听锁定操作
				form.on('checkbox(lockDemo)', function(obj) {
					//layer.tips(this.value + ' ' + this.name + '：' + obj.elem.checked, obj.othis);
				});
			});
		</script>
	</body>

</html>