<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>科室医生登录</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="keywords" content="">
		<meta name="description" content="医疗管理系统，为您提供更优质的服务">
		<link rel="stylesheet" href="/css/layui.css">
		<link rel="stylesheet" href="/css/global.css">
	</head>

	<body>
		<script src="/js/nowdate.js" type="text/javascript">
			
		</script>
		<div class="fly-header layui-bg-black">
			<div class="layui-row layui-col-space10">
				<div class="layui-col-md4 layui-col-md-offset5" style="height: 50px;font-size: 26px; line-height: 50px;">
					医疗体检管理系统
				</div>
				
			</div>
		</div>
		<div class="layui-container layui-row" style="margin-top: 1%;">
			<div class="layui-col-md9">
				欢迎您，尊敬的科室医生：<label class="username"></label>
			</div>
			<div class="layui-col-md3">
				<label id="nowdate"></label>
			</div>
		</div>
		<div class="layui-container fly-marginTop fly-user-main">
			<ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user">

				<li class="layui-nav-item layui-this">
					<a href="nursePre.html">
						<i class="layui-icon">&#xe612;</i> 查询体检人员
					</a>
				</li>
			</ul>

			<div class="site-tree-mobile layui-hide">
				<i class="layui-icon">&#xe602;</i>
			</div>
			<div class="site-mobile-shade"></div>

			<div class="site-tree-mobile layui-hide">
				<i class="layui-icon">&#xe602;</i>
			</div>
			<div class="site-mobile-shade"></div>

			<div class="fly-panel fly-panel-user" pad20>
				<form class="layui-form">
				<div class="layui-tab layui-tab-brief" lay-filter="user" id="LAY_msg" style="margin-top: 15px;">
					<div class="layui-row">
						<div class="layui-col-md10">
							<h3 class="layui-inline">请输入人员编号:</h3>
							<div class="layui-inline" style="width: 300px;">
								<input type="text" name="testNumber" required lay-verify="required" placeholder="请输入人员编号" autocomplete="off" class="layui-input">
							</div>
						</div>
						<div class="layui-col-md2">
							<button type="button" class="layui-btn layui-bg-green" id="LAY_delallmsg">快速搜索</button>
						</div>
					</div>
					<div class="layui-row" style="margin-top:2%; margin-left: 3%;">
						<div class="layui-col-md3" style="height:40px; line-height: 40px;">
							<label>体检次数：</label>
							<label id="checkcount"></label>
						</div>
						<div class="layui-col-md3" style="height:40px; line-height: 40px;">
							<label>姓名：</label>
							<label class="username"></label>
						</div>
						<div class="layui-col-md3" style="height:40px; line-height: 40px;">
							<label>性别：</label>
							<label class="sex"></label>
						</div>
						<div class="layui-col-md3" style="height:40px; line-height: 40px;">
							<label>年龄：</label>
							<label class="age"></label>
						</div>
					</div>

				</div>
				<div class="layui-row" style="margin-left: 3%;">
					<div class="layui-col-md3" style="height:40px; line-height: 40px;">
						<label>体检类别：</label>
						<label class="status"></label>
					</div>
					<div class="layui-col-md4" style="height:40px; line-height: 40px;">
						<label>人员类别：</label>
						<label class="personType"></label>
					</div>
					<div class="layui-col-md4" style="height:40px; line-height: 40px;">
						<label>单位名称：</label>
						<label class="unitsName"></label>
					</div>
				</div>

				<div style="margin-top:2% ;">
					<!-- 个人单个体检项 -->
					<div id="medical" class="layui-collapse" lay-accordion="">
						<div class="layui-colla-item">
							<h2 class="layui-colla-title">肝脏功能</h2>
							<div class="layui-colla-content">
								<div style=" width: 600px;">
									诊断结果：<textarea name="checkresult" placeholder="请输入内容" class="layui-textarea"></textarea>
								</div>
							</div>
						</div>
						<div class="layui-colla-item">
							<h2 class="layui-colla-title">组合项目</h2>
							<div class="layui-colla-content">
								<div class="layui-form-item">
									<label class="layui-form-label">身高：</label>
									<div class="layui-input-block" style="width: 400px;">
										<input type="text" name="title" placeholder="请输入身高" autocomplete="off" class="layui-input">
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">体重：</label>
									<div class="layui-input-block" style="width: 400px;">
										<input type="text" name="title" placeholder="请输入体重" autocomplete="off" class="layui-input">
									</div>
								</div>
								<div style=" width: 600px;">
									诊断结果：<textarea name="checkresult" placeholder="请输入内容" class="layui-textarea"></textarea>
								</div>
							</div>
						</div>
						<div class="layui-colla-item">
							<h2 class="layui-colla-title">组合项目</h2>
							<div class="layui-colla-content">
								<div class="layui-form-item">
									<label class="layui-form-label">身高：</label>
									<div class="layui-input-block" style="width: 400px;">
										<input type="text" name="title" placeholder="请输入身高" autocomplete="off" class="layui-input">
									</div>
								</div>
								<div class="layui-form-item">
									<label class="layui-form-label">体重：</label>
									<div class="layui-input-block" style="width: 400px;">
										<input type="text" name="title" placeholder="请输入体重" autocomplete="off" class="layui-input">
									</div>
								</div>
								<div style=" width: 600px;">
									诊断结果：<textarea name="checkresult" placeholder="请输入内容" class="layui-textarea"></textarea>
								</div>
							</div>
						</div>
					</div>
					<!-- 个人组合项 -->
					<div id="com" class="layui-collapse"></div>
					<!-- 个人套餐项 -->
					<div id="pack" class="layui-collapse"></div>
				</div>
				<div>
					<div style=" width: 915px;">
						医生建议：<textarea name="checkresult" placeholder="请输入内容" class="layui-textarea"></textarea>
					</div>
				</div>
				<div style="text-align: center; margin-top: 1%;">
					<button style="width: 200px; height: 50px;" class="layui-btn layui-btn-sm" lay-submit lay-filter="formDemo">点击提交</button>
				</div>
			</div>
			</form>
		</div>

		</div>

		<div class="fly-footer">
			<p>
				<a href="http://fly.layui.com/" target="_blank">医疗体检系统</a> 2018 &copy;
				<a href="http://www.layui.com/" target="_blank">多元合创 出品</a>
			</p>
			<p>
				<a href="http://fly.layui.com/jie/2461/" target="_blank">微信公众号</a>
			</p>
		</div>
		<script src="/layui.js"></script>
		<script type="text/javascript" src="/js/departmentInfo.js"></script>
	</body>

</html>