<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>单位</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="keywords" content="">
		<meta name="description" content="医疗管理系统，为您提供更优质的服务">
		<link rel="stylesheet" href="/css/layui.css">
		<link rel="stylesheet" href="/css/global.css">
		<link rel="stylesheet" href="/css/jobs.css">
	</head>

	<body>
		<script src="/js/nowdate.js" type="text/javascript">
			
		</script>
		<div class="fly-header layui-bg-black">
			<div class="layui-row layui-col-space10">
				<div class="layui-col-md4 layui-col-md-offset5" style="height: 50px;font-size: 26px; line-height: 50px;">
					医疗体检管理系统
				</div>
			</div>
		</div>
		<div class="layui-container layui-row" style="margin-top: 1%;">
			<div class="layui-col-md9">
				欢迎您，尊敬的系统管理员：<label class="username">admin</label>医生
			</div>
			<div class="layui-col-md3">
				<label id="nowdate"></label>
			</div>
		</div>
		<div class="layui-container fly-marginTop fly-user-main">
			<ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user">
				<!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->
				<li class="layui-nav-item ">
					<a href="javascript:;">体检单位</a>
					<dl class="layui-nav-child">
						<dd>
							<a href="javascript:;">单位1</a>
						</dd>
						<dd>
							<a href="javascript:;">单位2</a>
						</dd>
						<dd>
							<a href="javascript:;">单位3</a>
						</dd>
					</dl>
				</li>
				
			</ul>

			<div class="site-tree-mobile layui-hide">
				<i class="layui-icon">&#xe602;</i>
			</div>
			<div class="site-mobile-shade"></div>

			<div class="site-tree-mobile layui-hide">
				<i class="layui-icon">&#xe602;</i>
			</div>
			<div class="site-mobile-shade"></div>

			<div class="fly-panel fly-panel-user" pad20>
				<div class="layui-col-md-offset4" style="margin-top: 2%;">
					<h2>体检单位信息维护</h2>
				</div>
				<div style="margin-top:2%;">
					<form class="layui-form" action="">
						<div class="layui-form-item layui-inline" style="width: 400px;">
							<label class="layui-form-label">编号：</label>
							<div class="layui-input-block" style="width: 200px;">
								<input type="text" name="title" placeholder="(只读)" readonly="readonly" autocomplete="off" class="layui-input">
							</div>
						</div>
						<div class="layui-form-item layui-inline">
							<label class="layui-form-label">是否启用：</label>
							<div class="layui-input-block">
								<input type="radio" name="isdelete" value="0" title="是" checked>
								<input type="radio" name="isdelete" value="1" title="否">
							</div>
						</div>
						<div class="layui-form-item" style="width: 500px;">
							<label class="layui-form-label">单位名称：</label>
							<div class="layui-input-block" style="width: 500px;">
								<input type="text" name="title" required lay-verify="required" placeholder="请输入单位名称" autocomplete="off" class="layui-input">
							</div>
						</div>
						<div class="layui-form-item layui-inline" style="width: 400px;">
							<label class="layui-form-label">拼音简码：</label>
							<div class="layui-input-block" style="width: 200px;">
								<input type="text" name="title" required lay-verify="required" placeholder="请输入简码" autocomplete="off" class="layui-input">
							</div>
						</div>
						<div class="layui-form-item layui-inline" style="width: 200px;">
							<label class="layui-form-label">邮政编码：</label>
							<div class="layui-input-block" style="width: 200px;">
								<input type="text" name="title" required lay-verify="required" placeholder="请输入邮政编码" autocomplete="off" class="layui-input">
							</div>
						</div><br />
						<div class="layui-form-item layui-inline" style="width: 400px;">
							<label class="layui-form-label">联系人：</label>
							<div class="layui-input-block" style="width: 200px;">
								<input type="text" name="title" required lay-verify="required" placeholder="请输入简码" autocomplete="off" class="layui-input">
							</div>
						</div>
						<div class="layui-form-item layui-inline" style="width: 200px;">
							<label class="layui-form-label">联系电话：</label>
							<div class="layui-input-block" style="width: 200px;">
								<input type="phone" name="title" required lay-verify="required" placeholder="请输入邮政编码" autocomplete="off" class="layui-input">
							</div>
						</div>
						<div class="layui-form-item" style="width: 500px;">
							<label class="layui-form-label">联系地址：</label>
							<div class="layui-input-block" style="width: 500px;">
								<input type="text" name="title" required lay-verify="required" placeholder="请输入联系地址" autocomplete="off" class="layui-input">
							</div>
						</div>
						<div class="layui-form-item" style="width: 500px;">
							<label class="layui-form-label">业务银行：</label>
							<div class="layui-input-block" style="width: 500px;">
								<input type="text" name="title" required lay-verify="required" placeholder="请输入业务银行" autocomplete="off" class="layui-input">
							</div>
						</div>
						<div class="layui-form-item" style="width: 500px;">
							<label class="layui-form-label">银行账号：</label>
							<div class="layui-input-block" style="width: 500px;">
								<input type="text" name="title" required lay-verify="required" placeholder="请输入银行账号" autocomplete="off" class="layui-input">
							</div>
						</div>
						<div class="layui-form-item layui-inline" style="width: 400px;">
							<label class="layui-form-label">企业性质：</label>
							<div class="layui-input-block" style="width: 200px;">
								<input type="text" name="title" required lay-verify="required" placeholder="请输入企业性质" autocomplete="off" class="layui-input">
							</div>
						</div>
						<div class="layui-form-item layui-inline" style="width: 200px;">
							<label class="layui-form-label">编制人数：</label>
							<div class="layui-input-block" style="width: 200px;">
								<input type="phone" name="title" required lay-verify="required" placeholder="请输入编制人数" autocomplete="off" class="layui-input">
							</div>
						</div>
						
						
						
						
						
						<div class="layui-form-item layui-form-text">
							<label class="layui-form-label">备注</label>
							<div class="layui-input-block">
								<textarea name="desc" placeholder="请输入备注内容" class="layui-textarea"></textarea>
							</div>
						</div>
						<div class="layui-form-item">
							<div class="layui-input-block">
								<button class="layui-btn" lay-submit lay-filter="formDemo">保存</button>
							</div>
						</div>
					</form>
					<div class="layui-input-block ss">
						<button class="layui-btn">取消</button>
					</div>
					<div class="layui-input-block ss1">
						<button class="layui-btn">打印</button>
					</div>
					<div class="layui-input-block ss2">
						<button class="layui-btn">退出</button>
					</div>

				</div>
			</div>

		</div>

		</div>

		<div class="fly-footer">
			<p>
				<a href="http://fly.layui.com/" target="_blank">医疗体检系统</a> 2018 &copy;
				<a href="http://www.layui.com/" target="_blank">多元合创 出品</a>
			</p>
			<p>
				<a href="http://fly.layui.com/jie/2461/" target="_blank">微信公众号</a>
			</p>
		</div>
		<script src="/layui.js"></script>
		<script src="/js/jobs.js"></script>
	</body>

</html>