<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>查询体检人员</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="keywords" content="">
		<meta name="description" content="医疗管理系统，为您提供更优质的服务">
		<link rel="stylesheet" href="/css/layui.css">
		<link rel="stylesheet" href="/css/global.css">
	</head>

	<body>
		<script src="/js/nowdate.js"></script>
		<div class="fly-header layui-bg-black">
			<div class="layui-row layui-col-space10">
				<div class="layui-col-md4 layui-col-md-offset5" style="height: 50px;font-size: 26px; line-height: 50px;">
					医疗体检管理系统
				</div>
			</div>
		</div>
		<div class="layui-container layui-row" style="margin-top: 1%;">
			<div class="layui-col-md9">
				欢迎您，尊敬的系统管理员：<label class="username">admin</label>
			</div>
			<div class="layui-col-md3">
				<label id="nowdate"></label>
			</div>
		</div>
		<br />
		<br />
		<br />
		<div class="layui-container layui-row">
			<div class="layui-col-md3">
				<button style="width: 150px; height: 50px;" onclick="href('Managedepart')" class="layui-btn layui-bg-green">科室信息维护</button>
			</div>
			<div class="layui-col-md3">
				<button style="width: 150px; height: 50px;" onclick="href('nursePre.html')" class="layui-btn layui-bg-green">体检项信息维护</button>
				
			</div>
			<div class="layui-col-md3">
				<button style="width: 150px; height: 50px;" onclick="href('nursePre.html')" class="layui-btn layui-bg-green">组合项信息维护</button>
			</div>
			<div class="layui-col-md3">
				<button style="width: 150px; height: 50px;" onclick="href('nursePre.html')" class="layui-btn layui-bg-green">套餐信息维护</button>
			</div>
		</div>
		<br />
		<br />
		<br />
		<div class="layui-container layui-row">
			<div class="layui-col-md3">
				<button style="width: 150px; height: 50px;" onclick="href('nursePre.html')" class="layui-btn layui-bg-green">常见结果维护</button>
			</div>
			<div class="layui-col-md3">
				<button style="width: 150px; height: 50px;" onclick="href('nursePre.html')" class="layui-btn layui-bg-green">建议描述维护</button>
			</div>
			<div class="layui-col-md3">
				
				<button style="width: 150px; height: 50px;" onclick="href('nursePre.html')" class="layui-btn layui-bg-green">体检单位维护</button>
				
			</div>
			<div class="layui-col-md3">
				<button style="width: 150px; height: 50px;" onclick="href('nursePre.html')" class="layui-btn layui-bg-green">单位分组维护</button>
			</div>
		</div>
		<div class="fly-footer">
			<p>
				<a href="http://fly.layui.com/" target="_blank">医疗体检系统</a> 2018 &copy;
				<a href="http://www.layui.com/" target="_blank">多元合创 出品</a>
			</p>
			<p>
				<a href="http://fly.layui.com/jie/2461/" target="_blank">微信公众号</a>
			</p>
		</div>
		<script src="/layui.js">
		</script>
		<script>
			function href(lj){
				location.href="/demo/"+lj;
			}
		</script>
	</body>

</html>