<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>体检信息维护</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="keywords" content="fly,layui,前端社区">
		<meta name="description" content="Fly社区是模块化前端UI框架Layui的官网社区，致力于为web开发提供强劲动力">
		<link rel="stylesheet" href="/css/layui.css">
		<link rel="stylesheet" href="/css/global.css">
	</head>

	<body>
		<script src="/js/nowdate.js"></script>
		<div class="fly-header layui-bg-black">
			<div class="layui-row layui-col-space10">
				<div class="layui-col-md4 layui-col-md-offset5" style="height: 50px;font-size: 26px; line-height: 50px;">
					医疗体检管理系统
				</div>
			</div>
		</div>
		</div>
		<div class="layui-container layui-row" style="margin-top: 1%;">
			<div class="layui-col-md9">
				欢迎您，尊敬的系统管理员：<label class="username">admin</label>
			</div>
			<div class="layui-col-md3">
				<label id="nowdate"></label>
			</div>
		</div>
		<div class="layui-container fly-marginTop fly-user-main">
			<ul class="layui-nav layui-nav-tree layui-inline" lay-filter="demo" style="margin-right: 10px;">
				<li class="layui-nav-item layui-nav-itemed">
					<a href="javascript:;">体检科室</a>
					<dl class="layui-nav-child">
						<dd>
							<a href="javascript:;">科室一</a>
							<dl class="layui-nav-child">
								<dd>
									<a href="javascript:;">体检项一</a>
								</dd>
							</dl>
						</dd>
						<dd>
							<a href="javascript:;">科室一</a>
							<dl class="layui-nav-child">
								<dd>
									<a href="javascript:;">体检项一</a>
								</dd>
							</dl>
						</dd>
						<dd>
							<a href="javascript:;">科室一</a>
							<dl class="layui-nav-child">
								<dd>
									<a href="javascript:;">体检项一</a>
								</dd>
							</dl>
						</dd>
					</dl>
				</li>
				
			</ul>

			<div class="site-tree-mobile layui-hide">
				<i class="layui-icon">&#xe602;</i>
			</div>
			<div class="site-mobile-shade"></div>

			<div class="site-tree-mobile layui-hide">
				<i class="layui-icon">&#xe602;</i>
			</div>
			<div class="site-mobile-shade"></div>

			<div class="fly-panel fly-panel-user" pad20>
				<!--
    <div class="fly-msg" style="margin-top: 15px;">
      您的邮箱尚未验证，这比较影响您的帐号安全，<a href="activate.html">立即去激活？</a>
    </div>
    -->
				<div class="layui-container">
					<div class="layui-row">
						<div class="layui-col-md9" style="text-align: center;">
							<div class="grid-demo grid-demo-bg2" style="background: white;">
								<h1>体检项信息维护</h1>
							</div>
						</div>
					</div>
				</div>
				<br/><br/>
				<form class="layui-form" style="height: 700px;">

					<div class="layui-row">
						<div class="layui-col-md6">
							<div class="layui-inline">
								<label class="layui-form-label">是否启用</label>
								<div class="layui-input-block">
									<input type="radio" name="sf" value="是" title="是">
									<input type="radio" name="sf" value="否" title="否">
								</div>
							</div>
						</div>
						<div class="layui-col-md5">
							<div class="layui-inline">
								<label class="layui-form-label">体检项编号</label>
								<div class="layui-input-inline">
									<input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input" readonly="readonly">
								</div>
							</div>
						</div>
					</div>

					<br/>
					<div class="layui-inline">
						<label class="layui-form-label">科室名称</label>
						<div class="layui-input-inline">
							<input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input" readonly="readonly" placeholder="科室名称" style="width: 340px;">
						</div>
					</div>

					<div class="layui-inline">
						<label class="layui-form-label">是否启用</label>
						<div class="layui-input-block">
							<input type="radio" name="sex" value="男" title="男">
							<input type="radio" name="sex" value="女" title="女">
						</div>
					</div>
					<br/><br/>

					<div class="layui-row">
						<div class="layui-col-md6">
							<div class="layui-inline">
								<label class="layui-form-label">体检项名称</label>
								<div class="layui-input-inline">
									<input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input" placeholder="体检项名称" style="width: 340px;">
								</div>
							</div>
						</div>

						<div class="layui-col-md5">
							<div class="layui-inline">
								<label class="layui-form-label">拼音简码</label>
								<div class="layui-input-inline">
									<input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input" readonly="readonly" placeholder="拼音简码">
								</div>
							</div>
						</div>
					</div>
					<br />
					<div class="layui-row">
						<div class="layui-col-md6">
							<div class="layui-inline">
								<label class="layui-form-label">正常结果</label>
								<div class="layui-input-inline">
									<input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input" placeholder="正常结果" style="width: 340px;">
								</div>
							</div>
						</div>
						<div class="layui-col-md5">
							<div class="layui-inline">
								<label class="layui-form-label">结果类型</label>
								<div class="layui-input-inline">
									<input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input" placeholder="结果类型">
								</div>
							</div>
						</div>
					</div>
					<br />
					<div class="layui-row">
						<div class="layui-col-md3">
							<div class="layui-inline">
								<label class="layui-form-label">单位</label>
								<div class="layui-input-inline">
									<input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input" style="width: 100px;">
								</div>
							</div>
						</div>
						<div class="layui-col-md4">
							<div class="layui-inline">
								<label class="layui-form-label">参考上限</label>
								<div class="layui-input-inline">
									<input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input" style="width: 100px;">
								</div>
							</div>
						</div>
						<div class="layui-col-md4">
							<div class="layui-inline">
								<label class="layui-form-label">参考下限</label>
								<div class="layui-input-inline">
									<input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input" style="width: 100px;">
								</div>
							</div>
						</div>
					</div>
					<br />
					<div class="layui-row">
						<div class="layui-col-md3">
							<div class="layui-inline">
								<label class="layui-form-label">偏低提示</label>
								<div class="layui-input-inline">
									<input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input" style="width: 100px;">
								</div>
							</div>
						</div>
						<div class="layui-col-md4">
							<div class="layui-inline">
								<label class="layui-form-label">偏高提示</label>
								<div class="layui-input-inline">
									<input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input" style="width: 100px;">
								</div>
							</div>
						</div>
					</div>
					<br />
					<div class="layui-row">
						<div class="layui-col-md3">
							<div class="layui-inline">
								<label class="layui-form-label">最小值</label>
								<div class="layui-input-inline">
									<input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input" style="width: 100px;">
								</div>
							</div>
						</div>
						<div class="layui-col-md4">
							<div class="layui-inline">
								<label class="layui-form-label">最大值</label>
								<div class="layui-input-inline">
									<input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input" style="width: 100px;">
								</div>
							</div>
						</div>
					</div>
					<br />
					<div class="layui-input-block" style="margin-left: 0px;">
						<label class="layui-form-label">单价</label>
						<div class="layui-input-inline">
							<input type="text" name="email" lay-verify="email" autocomplete="off" class="layui-input" style="width: 100px;">
						</div>
					</div>
					<br />
					<label class="layui-form-label">位置提示</label>
					<div class="layui-input-block">
						<textarea placeholder="请输入内容" class="layui-textarea" style="width: 600px;"></textarea>
					</div>
					<br />
					<div class="layui-row" style="margin-left: 100px;">
						<div class="layui-col-md3" style="width: 150px; text-align: right;">
							<button class="layui-btn" style="width: 140px;">保存</button>
						</div>
						<div class="layui-col-md3" style="width: 150px;text-align: right;">
								<button class="layui-btn" style="width: 140px; ">取消</button>
							</div>
								<div class="layui-col-md3 "style="width: 150px;text-align: right; ">
							<button class="layui-btn" style="width: 140px;">打印</button>
						</div>
						<div class="layui-col-md3" style="width: 150px;text-align: right;">
								<button class="layui-btn " style="width: 140px; ">退出</button>
							</div>
							
						</div>
						
							
					
					

				
					
				</form>
				

			</div>
		</div>

		<div class="fly-footer ">
			<p>
				<a href="http://fly.layui.com/ " target="_blank ">医疗体检系统</a> 2018 &copy;
				<a href="http://www.layui.com/ " target="_blank ">多元合创 出品</a>
			</p>
			<p>

				<a href="http://fly.layui.com/jie/2461/ " target="_blank ">微信公众号</a>
			</p>
		</div>

		<script src="/layui.js "></script>
		<script>
			layui.use('element', function() {
				var element = layui.element; //导航的hover效果、二级菜单等功能，需要依赖element模块

				//监听导航点击
				element.on('nav(demo)', function(elem) {
					//console.log(elem)
					//layer.msg(elem.text());
				});
			});

			layui.use('form', function() {
				var form = layui.form,
					layer = layui.layer
			})
		</script>

	</body>

</html>