<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>查询人员及费用明细</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link rel="stylesheet" href="/css/layui.css">
		<link rel="stylesheet" href="/css/global.css">
	</head>

	<body>
		<script src="/js/nowdate.js"></script>
		<div class="fly-header layui-bg-black">
			<div class="layui-row layui-col-space10">
				<div class="layui-col-md4 layui-col-md-offset5" style="height: 50px;font-size: 26px; line-height: 50px;">
					医疗体检管理系统
				</div>
			</div>
		</div>
		</div>
<div class="layui-container layui-row" style="margin-top: 1%;">
			<div class="layui-col-md9">
				欢迎您，尊敬的收费管理员：<label class="username">admin</label>
			</div>
			<div class="layui-col-md3">
				<label id="nowdate"></label>
			</div>
		</div>
		<div class="layui-container fly-marginTop fly-user-main">
			<ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user">
				<li class="layui-nav-item layui-this">
					<a href="Tollgatecharge.html">
						<i class="layui-icon">&#xe612;</i>收费
					</a>
				</li>
				<li class="layui-nav-item">
					<a href="Tollgaterefund.html">
						<i class="layui-icon">&#xe65e;</i>退费
					</a>
				</li>
			</ul>

			<div class="site-tree-mobile layui-hide">
				<i class="layui-icon">&#xe602;</i>
			</div>
			<div class="site-mobile-shade"></div>

			<div class="site-tree-mobile layui-hide">
				<i class="layui-icon">&#xe602;</i>
			</div>
			<div class="site-mobile-shade"></div>

			<div class="fly-panel fly-panel-user" pad20>
				<!--
    <div class="fly-msg" style="margin-top: 15px;">
      您的邮箱尚未验证，这比较影响您的帐号安全，<a href="activate.html">立即去激活？</a>
    </div>
    -->
				<form class="layui-form">
					<div class="layui-form-item">
						<label class="layui-form-label">体检编号</label>
						<div class="layui-input-inline">
							<input type="text" required lay-verify="required" placeholder="请输入编号" autocomplete="off" class="layui-input">
						</div>
						<button class="layui-btn" lay-submit lay-filter="formDemo">查询</button>
					</div>
					<div class="layui-form-item">
						<div class="layui-input-inline">
							<label class="layui-form-label">姓名:</label>
							<div class="layui-input-block">
								<input type="text" name="title" required lay-verify="required" autocomplete="off" class="layui-input" value="张三">
							</div>
						</div>
						<div class="layui-input-inline">
							<label class="layui-form-label">年龄:</label>
							<div class="layui-input-block">
								<input type="text" name="title" required lay-verify="required" autocomplete="off" class="layui-input" value="21">
							</div>
						</div>
						<div class="layui-input-inline">
							<label class="layui-form-label">性别:</label>
							<div class="layui-input-block">
								<input type="text" name="title" required lay-verify="required" autocomplete="off" class="layui-input" value="男">
							</div>
						</div>
						<div class="layui-input-inline">
							<label class="layui-form-label">出生日期</label>
							<div class="layui-input-block">
								<input type="text" name="title" required lay-verify="required" autocomplete="off" class="layui-input" value="2011-1-11">
							</div>
						</div>
					</div>

				</form>
				<table class="layui-hide" id="test"></table>
				<div class="layui-container">
					<div class="layui-row" style="width: 1100px;">
						<div class="layui-col-md7">
							<div class="grid-demo grid-demo-bg1" style="background:white;color: white;">6/12</div>
						</div>
						<div class="layui-col-md3">
							<div class="grid-demo grid-demo-bg1">
								<form class="layui-form">
									<div class="layui-form-item">
										<label class="layui-form-label">总计：</label>
										<label class="layui-form-label" style="text-align: left;">122元</label>
									</div>
									<div class="layui-form-item">
										<label class="layui-form-label">实交：</label>
										<div class="layui-input-block">
											<input type="text" name="title" required lay-verify="required" autocomplete="off" class="layui-input" value="1000">
										</div>
									</div>
									<div class="layui-form-item">
										<label class="layui-form-label">找零：</label>
										<div class="layui-input-block">
											<input type="text" name="title" required lay-verify="required" autocomplete="off" class="layui-input" value="1000">
										</div>
									</div>
									<div class="layui-form-item" style="text-align: right;">
										<button class="layui-btn" lay-submit lay-filter="formDemo" style="width: 165px;">确认</button>
									</div>
									

								</form>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="fly-footer">
			<p>
				<a href="http://fly.layui.com/" target="_blank">医疗体检系统</a> 2018 &copy;
				<a href="http://www.layui.com/" target="_blank">多元合创 出品</a>
			</p>
			<p>

				<a href="http://fly.layui.com/jie/2461/" target="_blank">微信公众号</a>
			</p>
		</div>

		<script src="/layui.js"></script>
		<script>
			layui.use('table', function() {
				var table = layui.table;
				table.render({
					elem: '#test',
					url: 'table/use.json',
					cellMinWidth: 80,
					cols: [
						[{
								field: 'id',
								title: '体检序号'
							} //width 支持：数字、百分比和不填写。你还可以通过 minWidth 参数局部定义当前单元格的最小宽度，layui 2.2.1 新增
							, {
								field: 'username',
								title: '体检项'
							}, {
								field: 'city',
								title: '是否已检查'
							}, {
								field: 'sex',
								title: '价格'
							}
							//    ,{field:'sex', title: '出生年月', sort: true}
							//    ,{field:'classify', title: '联系电话', align: 'left'} //单元格内容水平居中
							//    ,{field:'score', title: '检查项', align: 'center'}
							//    ,{field:'wealth', title: '日期', sort: true, align: 'left'}
							//    ,{field:'city', title: '费用类型', sort: true, align: 'left'}
						]
					]
				});

			});
			layui.cache.page = 'user';
			layui.cache.user = {
				username: '游客',
				uid: -1,
				avatar: '../../res/images/avatar/00.jpg',
				experience: 83,
				sex: '男'
			};
			layui.config({
				version: "3.0.0",
				base: 'mods/'
			}).extend({
				fly: 'index'
			}).use('fly');
		</script>

	</body>

</html>