<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyhc.hospitalmanager.dao.CommonResultsMapper">
    <select id="getCommonResultsByTestId" resultType="com.dyhc.hospitalmanager.pojo.CommonResults">
        SELECT * FROM common_results WHERE result_checkItem=#{TestId}
    </select>
    <select id="getCommonResultsById" resultType="com.dyhc.hospitalmanager.pojo.CommonResults">
          SELECT * FROM common_results WHERE common_results_id=#{commonResultsId}
    </select>
    <insert id="insertCommonResult">
        INSERT INTO common_results VALUES(NULL,#{resultCheckItem},#{resultDesc},#{pinyinCode},#{isPositive},#{isConclusion},#{isShowProject},#{isDelete})
    </insert>
    <update id="updateCommonResults">
        update common_results set
        <if test="resultCheckItem!=null and resultCheckItem=''">
            result_checkItem = #{resultCheckItem},
        </if>
        <if test="resultDesc!=null and resultDesc!=''">
            resultDesc= #{resultDesc},
        </if>
        <if test="pinyinCode!=null and pinyinCode!=''">
            pinyin_code= #{pinyinCode},
        </if>
        <if test="resultCheckItem!=null and resultCheckItem!=''">
            result_checkItem= #{resultCheckItem},
        </if>
            isPositive= #{isPositive},
            isConclusion= #{isConclusion},
            isShowProject= #{isShowProject},
            isDelete= #{isDelete}
        where common_results_id=#{commonResultsId}
    </update>
    <update id="updateCommonResultsisDelete">
        update common_results set isDelete=0   where common_results_id=#{commonResultsId}
    </update>
</mapper>