<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyhc.hospitalmanager.dao.MedicalMapper">

    <!-- 根据科室id，查询该科室下的所有体检项 -->
    <select id="SelMedicalByDeskId" resultType="com.dyhc.hospitalmanager.pojo.Medical">
      SELECT * FROM medical
      WHERE desk_id = #{deskId} and isEnalbe = 1
    </select>

    <!-- 根据体检项项编号查询该体检项 -->
    <select id="selMedicalById" resultType="com.dyhc.hospitalmanager.pojo.Medical">
      select * from medical
      where medical_id = #{medicalId}
    </select>

    <!-- 添加体检项 -->
    <insert id="addMedical">
      insert into medical value (#{medicalId},#{deskId},#{projectName},#{applyGender},#{pingyingCode},#{normalResult},#{resultType},#{price},#{promptInfo},
      #{unit},#{referenceLowerLimit},#{referenceUpperLimit},#{lowTip},#{highTip},#{minValue},#{maxValue},1)
    </insert>

    <!-- 修改体检项 -->
    <update id="updMedical">
      UPDATE
          medical
        SET
        <trim suffixOverrides=",">
          <if test="projectName!=null and projectName!=''">
              `project_name` = #{projectName},
          </if>
          <if test="applyGender!=null and applyGender!=''">
              `apply_gender` = #{applyGender},
          </if>
          <if test="pingyingCode!=null and pingyingCode!=''">
              `pingying_code` = #{pingyingCode},
          </if>
          <if test="normalResult!=null and normalResult!=''">
              `normal_result` = #{normalResult},
          </if>
          <if test="resultType!=null and resultType!=''">
              `result_type` = #{resultType},
          </if>
          <if test="price!=null and price!=0">
              `price` = #{price},
          </if>
          <if test="promptInfo!=null and promptInfo!=''">
              `prompt_info` = #{promptInfo},
          </if>
          <if test="unit!=null and unit!=''">
              `unit` = #{unit},
          </if>
          <if test="referenceLowerLimit!=null and referenceLowerLimit!=''">
              `reference_lower_limit` = #{referenceLowerLimit},
          </if>
          <if test="referenceUpperLimit!=null and referenceUpperLimit!=''">
              `reference_ upper_limit` = #{referenceUpperLimit},
          </if>
          <if test="lowTip!=null and lowTip!=''">
              `low_tip` = #{lowTip},
          </if>
          <if test="highTip!=null and highTip!=''">
              `high_tip` = #{highTip},
          </if>
          <if test="minValue!=null and minValue!=''">
              `min_value` = #{minValue},
          </if>
            <if test="maxValue!=null and maxValue!=''">
                  `max_value` = #{maxValue},
            </if>
            <if test="isEnalbe&lt;0">
                  isEnalbe = #{isEnalbe},
            </if>
        </trim>
        WHERE `medical_id` = #{medicalId};
    </update>

    <!-- 根据组合项id查询体检项 -->
    <select id="getMedicalByCombinationId" resultType="com.dyhc.hospitalmanager.pojo.Medical">
      SELECT m.* FROM `medical` m
      WHERE m.`medical_id` IN(
          SELECT c.`medical_id` FROM `combination_ medical` c WHERE c.`combination_id` = '0101'
      )
    </select>

    <!-- 根据拼音简码查询体检信息 -->
    <select id="getMedicalList" resultType="com.dyhc.hospitalmanager.pojo.Medical">
        select * from medical
        where pingying_code like concat('%',#{namecode},'%')
    </select>

    <!-- 获取用户的体检项 -->
    <select id="getMadical" resultType="com.dyhc.hospitalmanager.pojo.conditional.MedicalConditional">
        SELECT *,
        (SELECT desk_type_name FROM`desk_type` dt WHERE dt.desk_type_id = (SELECT d.desk_type_id FROM `desk` d WHERE d.desk_id = m.`desk_id`)) AS desk_type_name,
        (SELECT d.desk_name FROM desk d WHERE d.desk_id = m.`desk_id`) AS deskName
        FROM `medical` m
        WHERE m.`medical_id` IN (
            SELECT uti.medical_id FROM `user_test_info` uti
            WHERE uti.test_number = #{test_number} AND uti.`medical_id` IS NOT NULL AND uti.`test_status` = 0
        )
    </select>

    <!-- 获取用户的套餐项 -->
    <select id="getPackage" resultType="com.dyhc.hospitalmanager.pojo.conditional.MedicalConditional">
        SELECT *,
        (SELECT desk_type_name FROM`desk_type` dt WHERE dt.desk_type_id = (SELECT d.desk_type_id FROM `desk` d WHERE d.desk_id = m.`desk_id`)) AS desk_type_name,
        (SELECT d.desk_name FROM desk d WHERE d.desk_id = m.`desk_id`) AS deskName
        FROM `medical` m
        WHERE m.`medical_id` IN (
            SELECT cm.`medical_id` FROM `combination_ medical` cm
            WHERE cm.`combination_id` IN (
                SELECT uti.`combination_id` FROM `user_test_info` uti
                WHERE uti.test_number = #{test_number} AND uti.`combination_id` IS NOT NULL AND uti.`test_status` = 0
            )
        )
    </select>

    <!-- 获取用户组合项 -->
    <select id="getCom" resultType="com.dyhc.hospitalmanager.pojo.conditional.MedicalConditional">
        SELECT *,
        (SELECT desk_type_name FROM`desk_type` dt WHERE dt.desk_type_id = (SELECT d.desk_type_id FROM `desk` d WHERE d.desk_id = m.`desk_id`)) AS desk_type_name
	,(SELECT d.desk_name FROM desk d WHERE d.desk_id = m.`desk_id`) AS deskName
        FROM `medical` m
        WHERE m.`medical_id` IN (
	    SELECT pm.`medical_id` FROM `package_medical` pm
	    WHERE pm.`package_id` IN(
		    SELECT uti.`package_id` FROM `user_test_info` uti
		    WHERE uti.test_number = #{test_number} AND uti.`package_id` IS NOT NULL AND uti.`test_status` = 0
            )
        )
    </select>
</mapper>