<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyhc.hospitalmanager.dao.PackageMedicalMapper">

    <!-- 显示套餐表下边的组合项的下边的体检项以及基本体检项 -->
    <select id="getPackageInfoByPackageId" resultType="com.dyhc.hospitalmanager.pojo.PackageMedical">
        select * from package_medical where packageId=#{packageId}
    </select>
</mapper>