<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyhc.hospitalmanager.dao.PackageMapper">

    <!-- 查询所有套餐 -->
    <select id="getpackageList" resultType="com.dyhc.hospitalmanager.pojo.Package">
        select * from `package`
    </select>

    <!-- 根据套餐id查询该套餐 -->
    <select id="getpackageById" resultType="com.dyhc.hospitalmanager.pojo.Package">
        select * from `package`
        where `package_id`=#{packageid}
    </select>

    <!-- 新增套餐 -->
    <insert id="insertPackage">
        INSERT INTO `package` (
          `package_id`,
          `package_name`,
          `scope_application`,
          `note`,
          `isEnable`
        )
        VALUES
          (
            null,
            #{packageName},
            #{scopeApplication},
            #{note},
            1
          );
    </insert>

    <!-- 修改套餐 -->
    <update id="updPackage">
        UPDATE
          `package`
        SET
        <trim suffixOverrides=",">
            <if test="packageName!=null and packageName != ''">
                `package_name` = #{packageName},
            </if>
            <if test="scopeApplication!=null and scopeApplication!=''">
                `scope_application` = #{scopeApplication},
            </if>
            <if test="note!=null and note!=''">
                `note` = #{note},
            </if>
        </trim>
        WHERE `package_id` = #{packageId};
    </update>

    <update id="delPackage">
        UPDATE
          `package`
        SET
          `isEnable` = 0
        where
          `package_id` = #{packageId};
    </update>
</mapper>