<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dyhc.hospitalmanager.dao.UnitsGroupMapper">

    <!-- 根据单位编号查询所属的所有分组 -->
    <select id="getUnitsGroupList" resultType="com.dyhc.hospitalmanager.pojo.UnitsGroup">
        select * from `units_group`
        where units_id  = #{unitsId}
    </select>

    <!-- 新增单位分组信息 -->
    <insert id="addUnitsGroup">
        INSERT INTO `hospital_test_manager_db`.`units_group` (
          `units_group_id`,
          `group_name`,
          `units_id`,
          `sex_condition`,
          `marital_condition`,
          `age_upper_limit`,
          `age_lower_limit`,
          `duty_condition`,
          `create_by`,
          `create_time`,
          `modify_by`,
          `modifu_time`,
          `isdelete`
        )
        VALUES
          (
            #{unitsGroupId},
            #{groupName},
            #{unitsId},
            #{sexCondition},
            #{maritalCondition},
            #{ageUpperLimit},
            #{ageLowerLimit},
            #{dutyCondition},
            1,
            now(),
            null ,
            null ,
            1
          );
    </insert>

    <!-- 修改单位分组信息 -->
    <update id="updUnitsGroup">
        UPDATE
          `hospital_test_manager_db`.`units_group`
        SET
            <trim suffixOverrides=",">
                <if test="groupName!=null and groupName!=''">`group_name` = #{groupName},</if>
                <if test="unitsId!=null and unitsId!=''">`units_id` = #{unitsId},</if>
                <if test="sexCondition!=null and sexCondition!=''">`sex_condition` = #{sexCondition},</if>
                <if test="maritalCondition!=null and maritalCondition!=''">`marital_condition` = #{maritalCondition},</if>
                <if test="ageUpperLimit!=0">`age_upper_limit` = #{ageUpperLimit},</if>
                <if test="ageLowerLimit!=0">`age_lower_limit` = #{ageLowerLimit},</if>
                <if test="dutyCondition!=null and dutyCondition!=''">`duty_condition` = #{dutyCondition},</if>
                `modify_by` = 1,
                `modifu_time` = now(),
            </trim>
        WHERE `units_group_id` =#{unitsGroupId};
    </update>

    <!-- 根据分组Id删除该分组 -->
    <update id="delUnitsGroup">
        update `hospital_test_manager_db`.`units_group`
        set `isdelete` = 0
        where `units_group_id` = #{unitsGroupId};
    </update>
</mapper>